<!doctype html>
<html ng-app="storeApp">
	<head>
		<title>Snozingyes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
		<meta charset="utf-8">
		<meta name="description" content="MicroStore Responsive HTML5/CSS3 Template from angelostudio.net">
		<meta name="author" content="ANGELOSTUDIO.NET">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
	
		
		
		<link rel="shortcut icon" href="snozingyes/app/assets/images/ico/32.png" sizes="32x32" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" href="snozingyes/app/assets/images/ico/60.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="snozingyes/app/assets/images/ico//72.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="snozingyes/app/assets/images/ico//120.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="snozingyes/app/assets/images/ico//152.png" type="image/png"/>
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

<body>

<%= yield %>

</body>
</html>
